body{
	background: url(https://cdn.hype.tech/2000x/file/2019/10/53/hype-ru-marvelstud-5PkLjDOfmPjmH5AH5P3eB6.jpeg);
}
.top{
	width: 100%;
	height: 90px;
	background: rgba(0,0,0,0.2);
	border: 1px solid aqua;
	margin: 0;
}
.r1{
	color: aqua;
	margin-left: 10px;
}
.container{
	width: 100%;
	height: 500px;
	background: background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid aqua;
	margin-top: 10px;

}
.navigation{
 text-align: center;
 color: aqua;
 border: 1px solid aqua;
 height: 40px;

}
.loge{
	text-decoration: none;
	color: aqua;
	margin-left: 10px;
	margin-right: 40px;
	
}

.container{
	display: flex;
	justify-content: space-between;

}
footer{
	background: rgba(0,0,0,0.2);
	color: aqua;
	margin-top: 1px;
	border: 1px solid aqua;
}
.cent{
	border: 1px solid aqua;
	margin-right: 5px;
}
.right{
	border: 1px solid aqua;
	margin-right: 5px;
}
.righ{
	border: 1px solid aqua;
	margin-right: 5px;
}

